/* 
    Document   : main
    Created on : 31 มี.ค. 2557, 23:52:28
    Author     : Sammy Guergachi <sguergachi at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

